<div class="share">
    <script>
      function share_on_mastodon() {
        // Prefill the form with the user's previously-specified Mastodon instance, if applicable
        var default_url = localStorage['mastodon_instance'];

        // If there is no cached instance/domain, then insert a "https://" with no domain at the start of the prompt.
        if (!default_url)
          default_url = "https://";

        var instance = prompt("Enter your instance's address: (ex: https://mastodon.social)", default_url);
        if (instance) {
          // Handle URL formats
          if ( !instance.startsWith("https://") && !instance.startsWith("http://") )
            instance = "https://" + instance;

          // Get the current page's URL
          var url   = window.location.href;

          var title = document.title;

          // Handle slash
          if ( !instance.endsWith("/") )
            instance = instance + "/";

          // Cache the instance/domain for future requests
          localStorage['mastodon_instance'] = instance;

          // Create the Share URL
          // https://mastodon.social/share?text=Title%20of%20%23MSB%20https://codingcoffee.dev/
          mastodon_url = instance + "share?text=" + encodeURIComponent(title + "\n\n" + url + "\n\n");

          // Open a new window at the share location
          window.open(mastodon_url, '_blank');
        }
      }
    </script>
    <p>Share</p>
    <ul>
        <li class="ml-1 mr-1">
        <a href="" onclick="share_on_mastodon()">
        <i class="fa fa-mastodon"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://telegram.me/share/url?url={{ .URL | absLangURL }}" onclick="window.open(this.href, 'telegram-share', 'width=550,height=435');return false;">
        <i class="fa fa-telegram"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://news.ycombinator.com/submit" onclick="window.open(this.href, 'hackernews-share', 'width=550,height=435');return false;">
        <i class="fa fa-hacker-news"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://wa.me/?text=Hey, checkout this blogpost,%0A{{ .Title }}%0A%0A{{ .URL | absLangURL }}" onclick="window.open(this.href, 'whatsapp-share', 'width=550,height=435');return false;">
        <i class="fa fa-whatsapp"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .URL | absLangURL }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=435');return false;">
        <i class="fa fa-twitter"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ .URL | absLangURL }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fa fa-facebook-f"></i>
        </a>
        </li>

    </ul>

    {{ if .Params.comments }}
        <div class="sep">
        </div>
        <ul>
            <li>
            <a  class="small smoothscroll" href="#disqus_thread"></a>
            </li>
        </ul>
    {{ end }}
</div>
